@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: url(../img/D2.jpg) center/cover fixed #f0f0f0;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p {
	text-indent: 40px;
	font-size: 20px;
	margin: 10px;
}

.card {
	backdrop-filter: blur(15px) saturate(200%);
	background-color: rgba(255, 255, 255, 0.188);
	border-radius: 20px;
	width: 90%;
	padding: 20px;
	margin: 20px;
	border: 1px solid rgba(255, 255, 255, 0.455);
}

.intro-card {
	width: 90%;
	margin: 0 5%;
	background-color: rgba(255, 255, 255, 0.30);	
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.topic-item-container {
	width: 100%;
	padding: 10px;
	backdrop-filter: blur(15px) saturate(200%);
	background-color: rgba(255, 255, 255, 0.034);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.455);
	transition: all .40s ease;
}

.topic {
	font-size: 20px;
	font-weight: 500;
	margin: 10px;
	cursor: pointer;
	display: flex;
}

.details {
	display: none;
	margin: 20px;
	margin-left: 70px;
}

.details.show {
	display: block;
}

.Notes-card {
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 40px;
	justify-content: center;
	align-items: center;
}

.mainTopicName {
	text-align: center;
	margin: 10px;
	font-size: 35px;
	font-weight: 600;
}

.codeSnippet {
	margin: 20px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.771);
	width: 90%;
}

.codeSnippet * {
	color: white;
}

span {
	color: rgb(21, 0, 255);
	margin: 2px;
	border-radius: 2px;
}

code, .code {
	font-size: 18px;
}

.subTopicHeading {
	border: 1px solid dashed;
}
